<div class="container">
  <div class="col-md-7">
    <h3>Lista użytkowników</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Państwo</th>
        <th>Miasto</th>
        <th>Wiek</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let profile of facebookProfiles | async">
        <td>{{profile.firstname}}</td>
        <td>{{profile.lastname}}</td>
        <td>{{profile.city.countryName}}</td>
        <td>{{profile.city.cityName}}</td>
        <td>{{profile.birthday | date: 'dd/MM/yyyy'}}</td>
        <td>
          <button class="btn btn-default" (click)="goToDetalis(profile.id)">Wejdź!</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-5">
    <h3>TOP 10</h3>
    <h4>Najpopularniejsze słowa (min 4 litery)</h4>
    <br>
    <div class="col-xs-9 col-xs-offset-0">
      <b>Slowo</b>
    </div>
    <div class="col-xs-3">
      <b>Wystąpienia</b>
    </div>
    <hr>
    <div *ngFor="let key of wordsMap | keys " >
      <a class="col-xs-9 col-xs-offset-0" (click)="setSearch(key)">
        {{key.key}}
      </a>
      <div class="col-xs-3">
        <div class="col-xs-4 col-xs-offset-2">
          {{key.value}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-9  space-line-top">
        <input type="text" [(ngModel)]="search" class="form-control" placeholder="Wpisz słowo">
      </div>
      <div class="col-xs-3  space-line-top">
        <button class="btn btn-default" (click)="searchWord(search)">Szukaj!</button>
      </div>
    </div>
    <div class="row space-line-top" [hidden]="foundPosts==null || foundPosts?.length!=0">Brak wyników :(</div>
    <div class="row space-line-top" [hidden]="foundPosts==null || foundPosts?.length==0">
      Znaleziono w postach:
      <a *ngFor="let post of foundPosts">
        #{{post}}
      </a>
    </div>
  </div>
  <h3 [hidden]="foundPosts==null || foundPosts?.length==0">Znalezione posty</h3>
  <p  *ngFor="let post of foundPosts">
    <a>#{{post}}</a>
    <post [id]="post"></post>
  </p>
</div>
